// GRID
// --------------------------------------------------


// 1200px grid
// -------------------------
$grid_columns =        12
$grid_column_width =   70px
$grid_column_margin =  15px
$grid_row_width =      1200px

// Fluid grid
// -------------------------
$grid_columns_fluid =        12
$rid_column_width_fluid =    5,833333333
$grid_column_margin_fluid =  1.25
$grid_row_width_fluid =      100