* { margin: 0; }
html, body {
	height: 100%;
	font: 14px Arial, Helvetica, sans-serif;
	color: #333333;
	line-height: 20px;
}

/* ============== GRID ============== */

.container, .row {
	margin: 0 auto;
	width: 1200px;
  	border: thick 1px solid transparent;
  	overflow: hidden;
}

[class*="col"] {
  	float: left;
  	margin-left: 15px;
  	margin-right: 15px;
  	border: thick 1px solid transparent;
  	overflow: hidden;
}

.col12 { width: 1170px; }
.col11 { width: 1070px; }
.col10 { width: 970px; }
.col9 { width: 870px; }
.col8 { width: 770px; }
.col7 { width: 670px; }
.col6 { width: 570px; }
.col5 { width: 470px; }
.col4 { width: 370px; }
.col3 { width: 270px; }
.col2 { width: 170px; }
.col1 { width: 70px; }

.offset11 { margin-left: 1115px; }
.offset10 { margin-left: 1015px; }
.offset9 { margin-left: 915px; }
.offset8 { margin-left: 815px; }
.offset7 { margin-left: 715px; }
.offset6 { margin-left: 615px; }
.offset5 { margin-left: 515px; }
.offset4 { margin-left: 415px; }
.offset3 { margin-left: 315px; }
.offset2 { margin-left: 215px; }
.offset1 { margin-left: 115px; }

[class*="center"] { text-align: center; }

.center12 { margin-left: 15px; margin-right: 15px; }
.center11 { margin-left: 65px; margin-right: 65px; }
.center10 { margin-left: 115px; margin-right: 115px; }
.center9 { margin-left: 165px; margin-right: 165px; }
.center8 { margin-left: 215px; margin-right: 215px; }
.center7 { margin-left: 265px; margin-right: 265px; }
.center6 { margin-left: 315px; margin-right: 315px; }
.center5 { margin-left: 365px; margin-right: 365px; }
.center4 { margin-left: 415px; margin-right: 415px; }
.center3 { margin-left: 465px; margin-right: 465px; }
.center2 { margin-left: 515px; margin-right: 515px; }
.center1 { margin-left: 565px; margin-right: 565px; }

/* ==================== END GRID ==================== */
