* { margin: 0; }
html, body { height: 100%; }
.container, .row {
	margin: 0 auto;
	width: 1200px;
  	border: thick 1px solid transparent;
  	overflow: hidden;
}

[class*="col"] {
  	float: left;
  	margin-left: 15px;
  	margin-right: 15px;
}

.col12 { width: 1170px; }
.col11 { width: 1070px; }
.col10 { width: 970px; }
.col9 { width: 870px; }
.col8 { width: 770px; }
.col7 { width: 670px; }
.col6 { width: 570px; }
.col5 { width: 470px; }
.col4 { width: 370px; }
.col3 { width: 270px; }
.col2 { width: 170px; }
.col1 { width: 70px; }

.offset12 { margin-left: 970px; }
.offset11 { margin-left: 890px; }
.offset10 { margin-left: 810px; }
.offset9 { margin-left: 730px; }
.offset8 { margin-left: 650px; }
.offset7 { margin-left: 570px; }
.offset6 { margin-left: 490px; }
.offset5 { margin-left: 410px; }
.offset4 { margin-left: 330px; }
.offset3 { margin-left: 250px; }
.offset2 { margin-left: 170px; }
.offset1 { margin-left: 90px; }

.center11 { margin-left: 50px; margin-right: 50px; }
.center10 { margin-left: 90px; margin-right: 90px; }
.center9 { margin-left: 130px; margin-right: 130px; }
.center8 { margin-left: 170px; margin-right: 170px; }
.center7 { margin-left: 210px; margin-right: 210px; }
.center6 { margin-left: 250px; margin-right: 250px; }
.center5 { margin-left: 290px; margin-right: 290px; }
.center4 { margin-left: 330px; margin-right: 330px; }
.center3 { margin-left: 370px; margin-right: 370px; }
.center2 { margin-left: 410px; margin-right: 410px; }
.center1 { margin-left: 450px; margin-right: 450px; }
