//
// MIXINS
// --------------------------------------------------


// Grids ------------------------

@mixin width_porcent($columns, $col_width, $margin,  $largr) {
  $grid_size: ($largr * $col_width) + ($largr * $margin);
  $col_width: ($columns * $col_width) + (($margin * $columns) - $margin);
  $porcentage: ($col_width * 100) / $grid_size;
  width: $porcentage;
}

@mixin offset($columns, $col_width, $margin,  $largr) {
  $grid_size: ($largr * $col_width) + ($largr * $margin);
  $offset: ($columns * $col_width) + ($margin * $columns) + ($margin / 2);
  $offset_porcent: ($offset * 100) / $grid_size;
  margin-left: $offset_porcent;
}

@mixin margin_l_r($col_width, $margin, $largr) {
  $grid_size: ($largr * $col_width) + ($largr * $margin);
  $marg: (($margin / 2) * 100) / $grid_size;
  margin: 0 (1% * $marg);
}

@mixin type_grid($columns, $large, $mixin) {
  @if $large == true {
    $col_width: $column_width_large;
    $margn: $column_margin_large;
    $largr: $columns_large;
    
    @if $mixin == true {
      @include width_porcent($columns, $col_width, $margn,  $largr);
    }
    @else { @include offset($columns, $col_width, $margn,  $largr); }
  }
  @else {
    $col_width: $column_width_medium;
    $margn: $column_margin_medium;
    $largr: $columns_medium;

    @if $mixin == true {
      @include width_porcent($columns, $col_width, $margn,  $largr);
    }
    @else { @include offset($columns, $col_width, $margn,  $largr); }
  }
}
 