//
// RESPONSIVE SHORT
// --------------------------------------------------

/*--------- Phones ---------*/
@media (max-width: 767px) {
  .row { margin: 0 2%; }
  
  .one-columns,
  .two-columns,
  .three-columns,
  .four-columns,
  .five-columns,
  .six-columns,	
  .seven-columns,
  .eight-columns,
  .nine-columns,
  .ten-columns,
  .eleven-columns,
  .twelve-columns {
    overflow: hidden;
    width: 96%;
    float: left;
  }
}
