//
// RESPONSIVE LARGE
// --------------------------------------------------

/*-------- Large Resolutions --------*/
@media (min-width: grid-size($gl-column-width, $gl-gutter)) {
  .row { width: grid-size($gl-column-width, $gl-gutter); }

  [class *="-columns"] {
    overflow: hidden;
    float: left;
    @include margin_lr_large();
  }

  .one-columns { width: column_width_large(1); }
  .two-columns { width: column_width_large(2); }
  .three-columns { width: column_width_large(3); }
  .four-columns { width: column_width_large(4); }
  .five-columns { width: column_width_large(5); }
  .six-columns { width: column_width_large(6); }
  .seven-columns { width: column_width_large(7); }
  .eight-columns { width: column_width_large(8); }
  .nine-columns { width: column_width_large(9); }
  .ten-columns { width: column_width_large(10); }
  .eleven-columns { width: column_width_large(11); }
  .twelve-columns { width: column_width_large(12); }

  .offset-one { margin-left: offset_large(1); }
  .offset-two { margin-left: offset_large(2); }
  .offset-three { margin-left: offset_large(3); }
  .offset-four { margin-left: offset_large(4); }
  .offset-five { margin-left: offset_large(5); }
  .offset-six { margin-left: offset_large(6); }
  .offset-seven { margin-left: offset_large(7); }
  .offset-eight { margin-left: offset_large(8); }
  .offset-nine { margin-left: offset_large(9); }
  .offset-ten { margin-left: offset_large(10); }
  .offset-eleven { margin-left: offset_large(11); }

  .centered-one { width: column_width_large(1); }
  .centered-two { width: column_width_large(2); }
  .centered-three { width: column_width_large(3); }
  .centered-four { width: column_width_large(4); }
  .centered-five { width: column_width_large(5); }
  .centered-six { width: column_width_large(6); }
  .centered-seven { width: column_width_large(7); }
  .centered-eight { width: column_width_large(8); }
  .centered-nine { width: column_width_large(9); }
  .centered-ten { width: column_width_large(10); }
  .centered-eleven { width: column_width_large(11); }
  .centered-twelve { width: column_width_large(12); }
}