//
// RESPONSIVE SHORT
// --------------------------------------------------

/*--------- Phones ---------*/
@media (max-width: 767px) {
  .row { margin: 0 2%; }
  
  .one-columns,
  .two-columns,
  .three-columns,
  .four-columns,
  .five-columns,
  .six-columns,	
  .seven-columns,
  .eight-columns,
  .nine-columns,
  .ten-columns,
  .eleven-columns,
  .twelve-columns {
    overflow: hidden;
    width: 96%;
    float: left;
  }

  .centered-1,
  .centered-2,
  .centered-3,
  .centered-4,
  .centered-5,
  .centered-6,
  .centered-7,
  .centered-8,
  .centered-9,
  .centered-10,
  .centered-11 {
    text-align: center;
  }
}
