//
// VARIABLES
// --------------------------------------------------

// The global variables have separate words with "-" and the other varibales with "_" 

// Grids
// --------------------------------------------------

// Responsive grid large
//--------------------------------

$gl-column-width: 70px;
$gl-gutter:       30px;
$max-columns:     12;


// Responsive grid medium
//--------------------------------

$gm-column-width: $gl-column-width - 10;
$gm-gutter: $gl-gutter - 10;
