//
// VARIABLES
// --------------------------------------------------


// Grids
// --------------------------------------------------

// Responsive grid 1200px
// -------------------------
$columns_large:        12;
$column_width_large:   70;
$column_margin_large:  30;
$row_width_large:      1200;

$margin_l_r_large:     15%;


// Responsive grid 768px - 1199px
// --------------------------------
$columns_medium:        12;
$column_width_medium:   60;
$column_margin_medium:  20;
$row_width_medium:      960;

$margin_l_r_medium:     10%;