//
// VARIABLES
// --------------------------------------------------


// Grid
// --------------------------------------------------

// Responsive grid
// -------------------------
$grid_columns:        12px;
$grid_column_width:   70px;
$grid_column_margin:  15px;
$grid_row_width:      1200px;