%section.container
  %section.row
    .twelve-columns
      %p Twelve columns
  %section.row
    .four-columns
      %p Four columns
    .four-columns
      %p Four columns
    .four-columns
      %p Four columns
  %section.row
    .one-columns
      %p One column
    .one-columns.offset-10
      %p Ten columns
  %section.row
    .centered-11
      %p Centred 11 columns