%section.container
  %section.row
    .twelve-columns
      %p Twelve columns
  %section.row
    .four-columns
      %p Four columns
    .four-columns
      %p Four columns
    .four-columns
      %p Four columns
  %section.row
    .one-columns
      %p One column
    .one-columns.offset-ten
      %p Ten columns
  %section.row
    .centered-eleven
      %p Centred 11 columns
    .centered-ten
      %p Centred 10 columns
    .centered-two
      %p Centred two columns