%section.container
  %section.row
    .col12
      .hola
        %h1 Página en contrucción
  %section.row
    .col4
      %p Hola
    .col4
      %p Hola
    .col4
      %p Hola
  %section.row
    .col1
      %p Col1
    .col10.offset1
      %p Ofsset 1 with width 11
  %section.row
    .col1
      %p Col 1
    .col1
      %p Col 1
  %section.row
    .col11.offset1
      %p Ofsset 1 with width 11
  %section.row
    .col3.offset1
      %p col 3
    .col3.offset1
      %p col 3
    .col3.offset1
      %p col 3